@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-color: rgb(39, 39, 42);
}
.body {
  background-image: 
    repeating-linear-gradient(
      to right,
      #231f20,
      #231f20 1px,
      #f3d6d600 1px,
      #0000 50px
    ),
    repeating-linear-gradient(
      to top,
      #231f20,
      #231f20 1px,
      #0000 1px,
      #0000 50px
    );
    opacity: 0.4;
}
@media (min-width: 768px) {
.body {
  -webkit-mask-image: radial-gradient(circle 1000px at center, white, transparent);
  mask-image: radial-gradient(circle 50vw at center, white, transparent);
  background-image: 
    repeating-linear-gradient(
      to right,
      #231f20,
      #231f20 1px,
      #f3d6d600 1px,
      #0000 50px
    ),
    repeating-linear-gradient(
      to top,
      #231f20,
      #231f20 1px,
      #0000 1px,
      #0000 50px
    );
    opacity: 0.7;
}
}
